<!-- Citations 
None needed. All original work and logic. --> 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>International Sports & Outdoors Sales Management System</title>
        <link rel='stylesheet' type='text/css' media='screen' href='public/main.css'>
        <script src='main.js'></script>
        <meta name="robots" content="noindex, noarchive, nofollow">
        <link rel="manifest" href="site.webmanifest">
    </head>
    <body>
       <header> 
            <h2 class="header-h2">ISOS Management System </h2> 
            <nav class="global5">
            <a href="/"> <strong>Home</strong></a>
            <!-- <a href="planets.html"> <strong>Planets</strong></a> -->
            </nav>
        </header>
        <!-- The following block links both pages using a relative path (file name, such as index.html)-->
        <main>
            <section>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p> </p>
                <p> </p>
                <h2 class="entity_h2">Entity Collection </h2>
                    <nav class="global2">
                        <a href="/customers"> <strong>Customers</strong></a>
                        <a href="/orders"> <strong>Orders</strong></a>
                        <a href="/products"> <strong>Products</strong></a>
                        <a href="/brands"> <strong>Brands</strong></a>
                        <a href="/suppliers"> <strong>Suppliers</strong></a>
                    </nav>
                    <nav class="global2">
                        <a href="/orderProducts"> <strong>OrderProducts</strong></a>
                        <a href="/productInstances"> <strong>ProductInstances</strong></a>
                    </nav>
                    <article>
                        <p class="special_p">
                            Click on an entity to access it
                        </p>
                    </article>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
            </section>
        </main>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
<footer>
    <nav class="global4">
        <a> &copy; Group 72: Tess Ellis & Willem De Veirman</a>
    </nav>
</footer>
    </body>
</html>