<!-- Citations 
None needed. All original work and logic. --> 

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>International Sports & Outdoors Sales Management System</title>
        <link rel='stylesheet' type='text/css' media='screen' href='public/main.css'>
        <script src='main.js'></script>
        <meta name="robots" content="noindex, noarchive, nofollow">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <main>
            <section id="webDevconcepts">
                    <div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                         <h2 class="landing-h2">ISOS Management System </h2> 
                         <p>&nbsp;</p>
                         <nav class="global2">
                            <a href="/entities"> <strong>Entities</strong></a>
                            <a href="/projectOverview"> <strong>Project Overview</strong></a>
                        </nav>
                    </div>
            </section>
        </main>
    </body>
</html>