
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
     <script src="/js/global.js"></script>
     
    <main>
        {{{body}}} {{!-- The content from index.hbs or another view gets injected here --}}
    </main>
</body>
</html>